snippet ---
	---
	display_name: ${1:display_name}
	structs: ${2:[]}
	repeat_check_structs: ${3:[]}
	...
snippet -
	- from:
	    entity: ${1:entity}
	  to:
	    entity: ${5:entity}
	  relationship_type: ${8:has_many}
	  associate_delete: true
	  require: true
